* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

:root {
  --blue: #0039bc;
  --second-blue: #6790ef;
  --third-blue: #bdcff8;

  --orange: #ff7124;
  --second-orange: #fc9055;
  --third-orange: #ffb58d;
}
/* <----------------------common----------------------> */
a {
  text-decoration: none;
}

.main_content {
  width: 1635px;
  max-width: calc(100% - 100px);
  margin: 15px auto;
}
/* <----------------------header----------------------> */
.header {
  background-color: white;
  border-bottom: 1px solid #d4d4d4;
  display: flex;
  align-items: center;
}

.fixed {
  position: sticky;
  top: 0;
  z-index: 10; /* hiển thị phía trên cùng */
}

.header .body_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_logo img {
  width: 80px;
  transition: 0.3s;
}

.header_logo img:hover {
  transform: scale(1.1);
}

.header_nav ul {
  height: 100%;
  display: flex;
  margin-bottom: 0;
  padding-left: 0;
  /* gap: 55px; */
}

.header_nav a {
  color: #454545;
  padding: 13px 25px; /* tăng trải nghiệm người dùng - vùng chọn được lớn hơn thay vì margin */
}

.header_nav a:hover {
  color: #000;
  text-shadow: 0.2px 0 0 #000; /* giúp không bị giật text khi hover */
}

.header_search {
  display: flex;
  align-items: center;
  width: 230px;
  border: 1px solid #ccc;
  border-radius: 36px;
  padding: 5px 10px;
  gap: 8px;
  transition: 0.3s;
}

.search_input {
  width: 100%;
  flex: 1;
  font-size: 1.6rem;
  border: none;
  background: transparent;
}

.search_input:focus {
  outline: none;
}

.header_search:hover {
  border: none;
  box-shadow: 1px 2px 10px var(--third-blue);
}

.search-icon {
  width: 20px;
}

.header_cart img {
  width: 25px;
}

.header_user {
  display: flex;
  align-items: center;
  gap: 13px;
}

.header_user img {
  width: 35px;
}

/* image slider */
.image-slider {
  margin: 0 auto;
  margin-top: 24px;
  width: 1500px;
  height: 400px;
  max-width: calc(100% - 230px);
}

.carousel-item img {
  height: 400px;
  object-fit: 100% 100%; /* Cắt ảnh vừa khung */
}

/* event list */
.event-list {
  margin-top: 70px;
}

.event-list .event-list-header {
  display: flex;
  justify-content: space-between;
}

.event-list .event-list-header h2 {
  font-size: 2rem;
  font-weight: 600;
}

.event-list-header .event-list-header-right {
  display: flex;
  align-items: center;
  gap: 6px;
}

.event-list-header .event-list-header-right a {
  color: #6d6d6d;
}

.event-list-header .event-list-header-right img {
  width: 8px;
  height: 16px;
  cursor: pointer;
}

.event-list .event-list-content {
  display: flex;
  gap: 20px;
  overflow: hidden; /* Ẩn thanh cuộn */
  overflow-x: auto; /* Cho phép cuộn ngang */
  white-space: nowrap;
  scrollbar-width: none; /* Ẩn thanh cuộn trên Firefox */
}

.event-list .event-list-content::-webkit-scrollbar {
  display: none; /* Ẩn thanh cuộn trên Chrome, Safari */
}

.event-list .event-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 400px;
  height: auto;
  padding-top: 20px;
}

.event-list .event-item img {
  width: 350px;
  height: 200px;
  object-fit: 100% 100%;
  border-radius: 25px;
}

.event-list .event-item h3 {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--orange);
  line-height: 1.5em;
  height: calc(1.5em * 2);
  -webkit-line-clamp: 2;
  word-wrap: break-word;
  white-space: normal;
}

.event-list .event-item span {
  font-size: 1.4rem;
  font-weight: 500;
  text-transform: capitalize;
}

.event-list .event-item #price {
  font-weight: 600;
  color: var(--blue);
}

/* <----------------------footer----------------------> */
footer {
  width: 100vw;
  height: 200px;
  margin-top: 50px;
  background-color: var(--blue);
}
